/* Main Styles */

body  { 
    margin: 20px;
    background-color: mediumseagreen;
    font-family: cursive;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Custom Styles */

.yellowMed {
    color: yellow;
    font-size: 14pt;
}

.yellowLg {
    color: yellow;
    font-size: 20pt;
}

.almostBaconBrown {
    color: #C87F32;
}   

.corporateBlue {
    background-color: blue;
}
