.buttonMenu {
    background-color: transparent;
    border: none !important;
}

.barMenu {
    background-color: #5C755E;
    border: none !important;
}


/*
li:hover {
    background-color: #eeeeee;
}
*/

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}